{%extends "base/navbar.html"%}
{%block css%}<link rel="stylesheet" href="/static/category-detail.css">{%endblock%}
{%block content%}
    <div style="padding:10px;">
        <h1> {{ category }}</h1>
        {%if recipes%}
        <table class="table table-hover details-table">
            <thead>
                <tr class="info">
                    <th>Przepis</th>
                    <th>Trudność</th>
                </tr>
            </thead>
            <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td>
                      <a href="{% url 'detail' recipe.id %}">{{ recipe.name }}</a>
                    </td>
                    <td>{{recipe.difficulty}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {%else%}
        <p style="font-size: 22px; padding: 20px;">Brak takich przepisów!</p>
        <p style="font-size: 22px; padding: 20px;">Bądź pierwszym, który taki doda!</p>
        {%endif%}
    </div>
{%endblock%}