{%extends "base/navbar.html"%}
{%block css%}<link rel="stylesheet" href="/static/add_recipe.css">{%endblock%}
{%block content%}
<div style="padding: 10px;">
    <form method="post" id="add_recipe_form" action="add_recipe_form">
        {% csrf_token %}

            <label for="name">Nazwa przepisu:</label>
            <input id="name" name="name" placeholder="Nazwa przepisu"><br><br>
            <label for="difficulty">Trudność:</label>
            <input type="number" id="difficulty" name="difficulty" min="1" max="5" step="1"><br><br>
            <label for="image">Link do zdjęcia:</label>
            <input id="image" name="image" placeholder="Link do zdjęcia">
            <div id="steps"></div>
            <div id="ingredients"></div>
            <div id="categories"></div>
            <button type="button" class="btn btn-primary" onclick="add_step()">Add step</button>
            <button type="button" class="btn btn-primary" onclick="add_ing({{measurement}})">Add ingredient</button>
            <button type="button" class="btn btn-primary" onclick="add_category()">Add category</button>
            <button type="submit" class="btn btn-primary" onclick="get_step_i()">Submit</button>
    </form>
    <br>
</div>

<script>
    var step_i = 0;
    function add_step() {
                var myDiv = document.getElementById("steps");
                var input = document.createElement('INPUT');
                input.name = "step" + step_i;
                myDiv.appendChild(input);
                step_i += 1;
            }

    var ing_i = 0;
    function get_step_i(){
        var form = document.getElementById("add_recipe_form")
        var input = document.createElement('INPUT');
        input.name = "i";
        input.value = step_i;
        input.type = "hidden";
        form.appendChild(input);
        var input2 = document.createElement('INPUT');
        input2.name = "j";
        input2.value = ing_i;
        input2.type = "hidden";
        form.appendChild(input2);
        var input3 = document.createElement('INPUT');
        input3.name = "cat";
        input3.value = cat_i;
        input3.type = "hidden";
        form.appendChild(input3);
    }

    function add_ing(measurement) {
                var myDiv = document.getElementById("ingredients");
                var input = document.createElement('INPUT');
                input.name = "ing" + ing_i;
                var select = document.createElement('SELECT')
                select.form = add_recipe_form;
                var count = measurement.length;
                    for (var i=0; i<count; i++){
                        var option = document.createElement('OPTION')
                        option.value = measurement[i];
                        var text = document.createTextNode(measurement[i]);
                        option.appendChild(text);
                        select.appendChild(option);
                    }
                select.name = "select" + ing_i;
                myDiv.appendChild(input);
                var how_much_input = document.createElement('INPUT');
                how_much_input.name = "how_much" + ing_i;
                how_much_input.type = "number";
                how_much_input.min = "0";
                how_much_input.step = "0.25";
                myDiv.appendChild(how_much_input);
                myDiv.appendChild(select);
                ing_i += 1;
            }

    var cat_i = 0;
    function add_category(){
        var div = document.getElementById("categories");
        var input = document.createElement('INPUT');
        input.name = "cat" + cat_i;
        div.appendChild(input);
        cat_i += 1;
    }
</script>
{%endblock%}