<!-- - if recipes
    %ul
    - for recipe in recipes
        %li 
            {{recipe.name}}
            -# %a href="/recipes/{{ recipe.id }}/">{{ recipe.name }}</a></li>
    - endfor
- else
    %p
        No recipes are available
- endif  -->
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
            <ul class="nav navbar-nav">
                <li><a href="../">Home</a></li>
                <li class="active"><a href="recipes">Recipes</a></li>
                <li><a href="./categories">Categories</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>
{% if recipes %}
    <ul>
    {% for recipe in recipes %}
        <li><a href="{% url 'detail' recipe.id %}">{{ recipe.name }}</a></li>

    {% endfor %}
    </ul>
{% else %}
    <p>No recipes are available.</p>
{% endif %}
</body>
</html>