{%extends "base/navbar.html"%}
{%block css%}<link rel="stylesheet" href="/static/logged-out.css">{%endblock%}
{%block content%}
    <div style="padding:10px;">
        <p style="font-size: 20px;">Wylogowano pomyślnie!</p>
        <p style="display: inline-block; font-size: 20px;">Jeśli chcesz wrócić po więcej</p>
        <p style="display: inline-block; font-size: 24px;">→</p>
        <a href="{% url 'login'%}"><button type="button" class="btn btn-primary" onclick="redirect()">Zaloguj się!</button></a>
    </div>
{% endblock %}