{%extends "base/navbar.html"%}
{%block css%}<link rel="stylesheet" href="/static/login.css">{%endblock%}
{%block content%}
    <div style="padding: 10px;">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
    <div class="login-form-whole">
        <div class="login-header col-xs-4 col-xs-offset-4">
            <p class="login-header-text">Log In Here!</p>
        </div>
        <div class="login-form col-xs-4 col-xs-offset-4">
            <form method="post" action="{% url 'login' %}" id="login-form">
                {% csrf_token %}
                <table cellpadding="100">
                    <tr>
                        <td>Username:</td>
                    </tr>
                    <tr>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                    </tr>
                    <tr>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
                <div style="text-align:center;">
                    <button type="submit" form="login-form" value="Submit" class="btn btn-primary" style="margin-top: 10px;">Log in</button>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
        </div>

{%endblock%}
