<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark" style="background-color: rgb(65,118,144);">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: rgb(245,221,93);">Cookbook</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="../.." style="color: rgb(245,221,93);">Home</a></li>
                <li><a href="../../recipes" style="color: rgb(245,221,93);">Recipes</a></li>
                <li><a href="../../recipes/categories" style="color: rgb(245,221,93);">Categories</a></li>
                <li><a href="#" style="color: rgb(245,221,93);">Page 3</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="justify-content-end"><a href="" style="color: rgb(245,221,93);">Hello {{user.get_username}}</a></li>
                    <li class="justify-content-end"><a href="accounts/logout" style="color: rgb(245,221,93);">Log Out</a></li>
                {% else %}
                    <li class="justify-content-end"><a href="" style="color: rgb(245,221,93);">Log in</a></li>
                    <li class="justify-content-end"><a href="../../signup" style="color: rgb(245,221,93);">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div style="padding: 10px;">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
    <div class="login-form-whole">
        <div class="login-header col-xs-4 col-xs-offset-4">
            <p class="login-header-text">Log In Here!</p>
        </div>
        <div class="login-form col-xs-4 col-xs-offset-4">
            <form method="post" action="{% url 'login' %}" id="login-form">
                {% csrf_token %}
                <table cellpadding="100">
                    <tr>
                        <td>Username:</td>
                    </tr>
                    <tr>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                    </tr>
                    <tr>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
                <div style="text-align:center;">
                    <button type="submit" form="login-form" value="Submit" class="btn btn-primary" style="margin-top: 10px;">Log in</button>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
        </div>

  <!--{# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->

</body>
</html>
